.weather-card {
    background-color: #85e8d6;
    background-image: linear-gradient(135deg, #6fecd8 0%, #4051b3 100%);
    width: 350px;
    height: 180px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
}

.bg-RAINY {
    background-color: #8a7a8a;
    background-image: linear-gradient(45deg, #8a7a8a 0%, #4a9099 50%, #cec0c0 100%);
}

.bg-SUNNY {
    background-color: #d6a211;
    background-image: linear-gradient(146deg, #d6a211 0%, #e7c44d 46%, #ce8d16 100%);
}

.bg-WINDY {
    background-color: #608870;
    background-image: linear-gradient(90deg, #608870 0%, #dfdd8e 100%);
}

.bg-SNOWY {
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #b6b3c0 100%);
}

.bg-CLOUDY {
    background-color: #608870;
    background-image: linear-gradient(90deg, #608870 0%, #383834 100%);
}

.weather-icon {
    height: 120px;
    width: 120px;
    top: 30px;
    right: 30px;
    position: absolute;
}

.city {
    position: absolute;
    left: 30px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.line {
    position: absolute;
    top: 60px;
    left: 30px;
}

.weather {
    position: absolute;
    top: 65px;
    left: 30px;
    font-size: 17px;
}

.temperature {
    position: absolute;
    bottom: 25px;
    left: 30px;
    font-size: 35px;
}